*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
.bgsm{
    width: 750px;
    height: 800px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
}
ul{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction:row;
    animation: bounceIn;
    animation-duration: 1s;
}
.type{
    margin-top: 20px;
    height: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
}
.check{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 30px;
}
.but{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 30px;
}
.soft{
    margin-top: 20px;
    height: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 15px;
    opacity: 0.3;
}
@media(max-width:500px) {
    .bgsm{
        width: 300px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .h1{
        font-size: 25px;
    }
    .type{
        margin-top: 20px;
        height: 6px;
        width: 150px;
        border-radius: 20px;
        padding: 15px;
    }
    .check{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .but{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .soft{
        margin-top: 20px;
        height: 6px;
        width: 150px;
        border-radius: 20px;
        padding: 15px;
        opacity: 0.3;
    }
}